@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

/* 底部样式 */
.footer {
  background-color: rgba(199, 210, 221, 0.8);
//   text-align: center;
  font-size: 15px;
  color: #333;
  width: 100%;
  position: fixed;
  bottom: 0;  /* 固定在底部 */
  box-sizing: border-box;
}

/* 链接样式 */
.balink {
  color: #333;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}

.balink:hover {
  text-decoration: underline;  /* 悬浮时加下划线 */
}
